.react-combo__expand-tool {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  cursor: pointer;
  font-size: 0.65em;
}

.react-combo--disabled {
  .react-combo__expand-tool {
    cursor: auto;
  }
}